@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Sans'), local('OpenSans'), url('../fonts/Fira Sans WOFF/FiraSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Fira Sans'), local('OpenSans'), url('../fonts/Fira Sans WOFF/FiraSans-Medium.woff') format('woff');
}

/* bibliotecas */
@import url('../libs/csans/csans.css');
@import url('../libs/csans/ui/csans.ui.buttons.css');
@import url('../libs/selectize/dist/css/selectize.css');
@import url('../libs/selectize/dist/css/selectize.bootstrap3.css');

/* Variables */
:root {
	--negro: #36393E;
	--gris-escuro: color(var(--negro), 66);
	--gris: #F0F1F3;
	--color-principal: #CAC115;
}

/* Xenérico */
body {
	padding: 20px;
	font-family: 'Fira Sans', sans-serif;
	color: var(--negro);
}
label {
	cursor: pointer;
}


/* Layouts */
.ly-wrapper {
	width: 975px;
	margin: 0 auto;
	box-sizing: border-box;
}
.ly-2cols {
	padding-left: 10px;
	padding-right: 10px;

	&::after {
		content: "";
		display: block;
		clear: both;
	}

	> * {
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding: 0 10px;
	}
}


/* Botóns */
.button-escoller {
	list-style: none;
	margin: 0;
	white-space: nowrap;
	text-align: center;

	> li {
		display: inline;
	}

	.button {
		border-radius: 3px;
		background: var(--gris);
		transition: background 0.5s;

		&:hover {
			background: color(var(--gris), light:-10);
		}

		&.button-activo {
			background: var(--negro);
			color: white;
		}
	}
}

.button-principal {
	background: var(--color-principal);
	color: white;
	border-radius: 3px;
	transition: background 0.5s;
	padding-top: 0.35em;
	padding-bottom: 0.35em;

	&:hover {
		background: var(--negro);
	}
}

/* Correccións selectize */
.selectize-input {
	display: block;
	padding-right: 34px !important;
	font-size: 14px;

	> input {
		font-size: 14px;
	}

	&.input-active {
		display: block !important;
	}
}


/* Widget básico */
.widget {
	background: white;
	border: solid 5px var(--gris);

	> header {
		padding: 10px 20px;
		background: var(--gris);

		h1 {
			font-weight: normal;
			font-size: 1.6rem;
			letter-spacing: -0.015em;
			color: var(--gris-escuro);
		}
	}
	> nav {
		padding: 20px;
		border-bottom: dotted 5px var(--gris);
	}
	> footer {
		font-size: 0.85rem;
		color: var(--gris-escuro);
		padding: 10px 20px 20px;
		a {
			color: var(--negro);
		}
	}
	figure {
		text-align: center;
		svg, img {
			display: block;
			margin: 0 auto;
		}
		figcaption {
			margin-top: 20px;
		}
	}
	.widget-contido {
		padding-top: 20px;
		padding-bottom: 20px;

		h2 {
			font-weight: bold;
			letter-spacing: -0.015em;
			color: var(--negro);
			font-size: 3rem;
			margin: 0;
		}
	}
	.widget-detalles {
		color: var(--gris-escuro);
		font-size: 0.85em;
		margin-top: 1em;
	}
	.widget-lenda {
		margin-top: 1em;
		background: white;
		border: solid 1px color(var(--gris), light:-5);
		padding: 10px;

		ul {
			column-width: 200px;
			list-style: none;
			margin: 0;
		}

		.logo {
			display: none;
		}
		.color {
			display: inline-block;
			width: 1em;
			height: 1em;
			border-radius: 3px;
			margin-right: 0.3em;
		}
		.nome {
			display: inline-block;
			white-space: nowrap;
			max-width: 120px;
			overflow: hidden;
			text-overflow: ellipsis;
			vertical-align: middle;
		}
		.datos {
			color: var(--gris-escuro);
			display: inline-block;
			font-size: 0.85em;
			vertical-align: middle;
		}
		.nome + .datos {
			margin-left: 0.5em;
		}
	}

	.widget-opcions {
		border-top: solid 1px color(var(--gris), light:-5);
		margin-top: 10px;
		padding-top: 10px;

		+ .widget-opcions {
			border-top: 0;
		}
	}
}
