body {
	max-width: 36em;
	margin: 0 auto;
	padding: 100px 20px 0;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	color: #667780;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto 20px auto;
}
sup {
	line-height: 0;
}

a{
	color: #28b8d8;
}
